#root {
  background-color: #e5e5e5;
}

.main-layout {
  border-style: dotted;
  border-width: 2px;;
  border-color:#14213d;
  display: flex;
  flex-wrap: wrap;
  margin: 10px; 
}

.iconify {
  color: #14213d;
}

.map {
  position: relative;
  display: inline-flex;
  align-content: center;
  width: 1100px;
  height: 400px;
}

.breweries-layout {
  text-align: center;
  font-family: "Roboto", sans-serif ;
  
}

.input-group {
background-color: #e5e5e5;
}

.filterQuery {
  background-color: #e5e5e5 !important;
}

.filterResults {
  margin: 10px; 
  padding: 10px;
  font-family: "Roboto", sans-serif ;
}

.brewery {
  border: solid;
  border-width:  1px;
  border-style: solid;
  border-color:#14213d;
  background-color:#fca311;
  margin: 17px auto;
  height: 150px;
  vertical-align: middle; 
}

a {
  margin: 5px 0px;
color: #14213d !important;
font-weight: 900;
} 

.btn-outline {
color: #e5e5e5;
border-color: #14213d ;
}

.heading {
  font-family: "Quicksand", sans-serif ;
  margin: 0px 30px 30px 30px;
  padding: 15px;
  color: #e5e5e5;
  background-color: #14213d;
}

.search {
  display: inline-flex;
  align-content: center;
  
}

.filter {
  display: inline-flex;
  align-content: center;
  margin: 15px;
  padding: 5px;
  border: dotted;
  border-width: 2px;
  border-color: #e5e5e5;
}

.text-center {
  font-family: "Roboto", sans-serif ;
}

.text {
  font-family: "Roboto", sans-serif ;
}

.url {
  visibility: hidden;
  color:#e5e5e5;
}

.url:hover {
  visibility: visible;
  color: #26495c;
  font-weight: 500;
}