.main-layout {
  display: flex;
  flex-wrap: wrap 
}

.breweries-layout {
  text-align: center;
  
}

.brewery {
  border: solid;
  border-width:  1px;
  border-style: dashed;
  border-color: orange ;
  margin: 17px auto;
  height: 150px;
  vertical-align: middle; 
}

